<style>
body{
  overflow-x : hidden;
}
.absence-record .rv-title{
  margin: 0px auto;
}
.absence-record table{
  width : auto;
  min-width : 60%;
}
.absence-record .data-block td{
    white-space: nowrap;
    padding : 5px;
}
.absence-record .data-block tbody td{
    /*max-width : 112px;*/
    min-width : 56px;
    overflow : hidden;
    text-overflow : ellipsis;
}
.absence-record .data-block .absence-table .late{
  color : #fff;
  background : #ff003b;
}
.absence-record .data-block .absence-table .early{
  color : #fff;
  background : #ff003b;
}
.absence-record .data-block .absence-table .nocard{
  background : #9f9f9f;
  color : #fff;
}

.absence-record .scroll-x{
  width : 100%;
  height : 10px;
  background : #cacaca;
  position : relative;
  cursor : not-allowed;
  border-radius : 6px;
}
.absence-record .scroll-x span{
  width : 5%;
  height : 12px;
  display: inline-block;
  position : absolute;
  background : #00897b;
  border-radius : 6px;
  left : 0%;
  transition : left 0.3s ease;
}
</style>

<div id="Absence" class="absence-record">
    <div class="had-container">
        <h1 class="rv-title"><span class="dtime"></span>出缺席記錄</h1>
        <!-- 無資料時顯示 -->
        <div class="no-data">
            <div class="message">
                <h2>查無資料</h2>
                <p>請重新查詢</p>
            </div>
        </div>
        <!-- 有資料時顯示 -->
        <div class="data-block">
          <div :class="'data-block'">
            <a class="waves-effect waves-light btn teal darken-1" @click="downloadExcel">Download Excel</a>
            <table class="absence-table">
                <thead>
                    <tr>
                        <td colspan='2'>部門</td>
                        <td v-for="(val,ix) in staff" colspan='3' :pos="ix">{{val.unit_code}} {{val.unit_name}}</td>
                    </tr>
                    <tr>
                        <td colspan='2'>姓名</td>
                        <td v-for="(val,ix) in staff" colspan='3' :pos="ix">{{val.name}} {{val.name_en}}</td>
                    </tr>
                    <tr>
                        <td colspan='2'>日期</td>
                        <td class="template" v-for="(item,ix) in staff">
                        <td :pos="ix">上班</td>
                        <td :pos="ix">下班</td>
                        <td :pos="ix">備註</td>
                        <td class="/template">
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(val,key) in date">
                        <td>{{val.mDate}}</td>
                        <td>{{val.day}}</td>
                        <td class="template" v-for="(item,ix) in staff">
                        <td :pos="ix" :class="item._attendance_map[key]? {late:item._attendance_map[key].late>0,nocard:item._attendance_map[key].nocard>0} :false">{{(item._attendance_map[key])?item._attendance_map[key].checkin_hours:''}}</td>
                        <td :pos="ix" :class="item._attendance_map[key]? {early:item._attendance_map[key].early>0,nocard:item._attendance_map[key].nocard>0} :false">{{(item._attendance_map[key])?item._attendance_map[key].checkout_hours:''}}</td>
                        <td :pos="ix" v-if="item._attendance_map[key]">
                          <span v-if="item._attendance_map[key].remark">{{item._attendance_map[key].remark}}</span>
                          <span v-else>
                          {{item._attendance_map[key].late>0?'遲到,':''}}
                          {{item._attendance_map[key].early>0?'早退,':''}}
                          {{item._attendance_map[key].nocard>0?'忘卡,':''}}
                          </span>
                        </td>
                        <td :pos="ix" v-else></td>
                        <td class="/template">
                    </tr>
                </tbody>
            </table>
            <div class="scroll-x" style="display:none;"><span></span></div>
          </div>
        </div>
    </div>
</div>
<script src="<?=U('/Public/js/vue.2.2.6.js')?>"></script>
<script>
var $Absence = $('#Absence').generalController(function() {
    var ts = this;
    var dataBlock = ts.q('.data-block');
    var noData = ts.q('.no-data');
    var dtime = ts.q('.dtime');

    var year =  getParameterByName('year');
    var month =  getParameterByName('month');
    var team =  getParameterByName('team');
    var staff =  getParameterByName('staff');
    dtime.append(year + '年' + month + '月');

     // get name function
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    
    var $window = $(window), bind = true;
    
    function gogo(table){
      var pos = {x:0,y:0,moveX:0,now:0};
      var can = false;
      var scroll = $('.scroll-x');
      
      var tw = table.width();
      var sw = scroll.width();
      pos.max = table.find('tr:first td[pos]').length - Math.floor(sw / 300);
      
      var rTimer;
      
      
      $window.on('resize',function(){
        if(rTimer){clearTimeout(rTimer);}
        rTimer = setTimeout(function(){
          $window.off('resize');
          gogo(table);
        },150);
      });
      
      if(tw<=sw){return;}
      
      var barWidth = Math.floor((sw/tw)*100);
      var scrollWidth = 100-barWidth;
      var sbar = scroll.show().find('span').width( barWidth+"%" );
      
      var carry = 35;
      
      bind && table.find('tbody').on('mousedown',function(e){
        can = true;
        pos.x = e.pageX;
        pos.y = e.pageY;
        e.preventDefault();
      })
      .on('mouseup',function(e){
        can = false;
        console.log(pos);
      })
      .on('mousemove',function(e){
        if(!can){return;}
        pos.moveX = e.pageX - pos.x;
        if(pos.moveX< -(carry)){
          pos.x = e.pageX;
          if(pos.now>=pos.max){return;}
          table.find('td[pos='+pos.now+']').hide();
          pos.now++;
          sbar.css('left', ((pos.now / pos.max)*scrollWidth)+'%' );
        }else if(pos.moveX> carry){
          pos.x = e.pageX;
          if(pos.now<=0){return;}
          table.find('td[pos='+(pos.now-1)+']').show();
          pos.now--;
          sbar.css('left', ((pos.now / pos.max)*scrollWidth)+'%' );
        }
      }).css({'cursor':'e-resize'});
      table.css({'min-width':'100%'});
      bind =false;
      
    }
    
    var submit = {year:year,month:month};
    if(team){submit.team_id=team;}
    if(staff){submit.staff_id=staff;}
    
    API.getAbsence(submit).then(function(data) {
      var rec = API.format(data).get();
        if (rec) {
            console.log(rec);
            noData.hide();
            dataBlock.show();
            
            //先找到所有日期 與 所有員工
            var time_1 = new Date();
            
            var allDate = {};
            var allStaff = [];
            var dayMapping = { 0:'周日',1:'周一',2:'周二',3:'周三',4:'周四',5:'周五',6:'周六',7:'周日', }
            for(var i in rec){
              var loc = rec[i];
              for(var n in loc._staff){
                var loc2 = loc._staff[n];
                var attendance = loc2._attendance;
                loc2.unit_code = i;
                loc2.unit_name = loc.unit_name;
                
                var attendance_map = {};
                var x = 0;
                while(attendance[x]){
                  var date = attendance[x].date;
                  if(date && !allDate[date]){
                    allDate[date]={
                      mDate : date.replace(/^[\d]{3,4}\-/,'').replace('-','/'),
                      day : dayMapping[ new Date(date).getDay() ]
                    }
                  }
                  attendance_map[date]=attendance[x];
                  x++;
                }
                loc2._attendance_map=attendance_map;
                allStaff.push(loc2);
                
              }
            }
            console.log(allDate);
            console.log(allStaff);
            
            var time_2 = new Date();
            console.log(time_2 - time_1);
            var html = dataBlock.html();
            dataBlock.empty();
            
            html = html.replace(/\<.+?class\=\"(.?template)\"/gi,function($m,$a){return '<'+$a;});
            //return console.log(html);
            
            ts.vue = new Vue({
              el : dataBlock[0],
              template : html,
              data : {
                date : allDate,
                staff : allStaff,
                submitData : submit
              },
              methods : {
                downloadExcel : function(){
                  API.downloadAbsence(this.submitData);
                  
                }
              },
              mounted : function(){
                var time_3 = new Date();
                console.log(time_3 - time_1);
                this.table = $(this.$el).find('table');
                //this.table.css('min-width',this.table.width());
                gogo(this.table);
              }
            });

        } else {

            dataBlock.hide();
            noData.show();
        }
    });
});
</script>
