<div id="Overview">
    <div class="had-container rv-overview">
        <h1 class="rv-title">各月份績效結果總覽</h1>
        <div class="filter-date row">
            <h3 class="title">請選擇日期</h3>
            <div class="dropdown">
                <select id="getYear" class="btn dropdown-button" type="button" v-model="year" v-on:change="onSelected()">
                    <option value="2017">2017年</option>
                    <option value="2016">2016年</option>
                </select>
            </div>
            <div class="dropdown">
                <select id="getMonth" class="btn dropdown-button" type="button" v-model="month" v-on:change="onSelected()">
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
            <div class="dropdown">
                <select id="getPassReports" class="btn dropdown-button" type="button" v-model="passReports" v-on:change="onSelected()">
                    <option value="1">顯示所有核准</option>
                    <option value="0">顯示全部資料</option>
                </select>
            </div>
            <div class="pull-right">
                <a href="<?=U('/organization-chart')?>" class="btn waves-effect waves-teal lighten-1" target="_blank">查看考評狀態</a>
                <a class="waves-effect waves-light btn teal darken-1" v-on:click="downloadExcel()">匯出 Excel</a>
            </div>
        </div>
        <div class="row" v-if="viewData.leader">
            <h5>單位主管</h5>
            <div class="col s12">
                <div class="card rv-card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>員工編號</th>
                                <th>職位</th>
                                <th>員工姓名</th>
                                <th>目標達成率</th>
                                <th>工作品質</th>
                                <th>工作方法</th>
                                <th>出錯率</th>
                                <th>進度追蹤</th>
                                <th>企劃能力</th>
                                <th>執行力</th>
                                <th>判斷力</th>
                                <th>應變能力</th>
                                <th>特殊貢獻</th>
                                <th>重大缺失</th>
                                <th>總分</th>
                                <th>到職日</th>
                                <th>考核天數</th>
                                <th>獎金發放</th>
                                <th>備註</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(leader,index) in viewData.leader">
                                <td>{{leader.staff_no}}</td>
                                <td>{{leader.post}}</td>
                                <td>{{leader.name}} {{leader.name_en}}</td>
                                <td>{{leader.target}}</td>
                                <td>{{leader.quality}}</td>
                                <td>{{leader.method}}</td>
                                <td>{{leader.error}}</td>
                                <td>{{leader.backtrack}}</td>
                                <td>{{leader.planning}}</td>
                                <td>{{leader.execute}}</td>
                                <td>{{leader.decision}}</td>
                                <td>{{leader.resilience}}</td>
                                <td>{{leader.addedValue}}</td>
                                <td>{{leader.mistake}}</td>
                                <td>{{leader._total_score}}</td>
                                <td>{{leader.first_day}}</td>
                                <td>{{leader._work_day}}</td>
                                <td>
                                    <p v-if="leader.bonus">是</p>
                                    <p v-else>否</p>
                                </td>
                                <td>
                                    <a class="waves-effect waves-light btn" :href="'#CommentLeaderModal-'+(index+1)" v-on:click="comment(leader.staff_id)">{{leader._comment_count}}筆</a>
                                    <div :id="'CommentLeaderModal-'+(index+1)" class="modal commCard">
                                        <div class="modal-content">
                                            <div class="rv-page-title">
                                                <h1 class="rv-title">評論紀錄</h1>
                                            </div>
                                            <div class="row">
                                                <div class="card-panel" v-for="comment in comments">
                                                    <div class="comm-name">{{comment._created_staff_name}} 評語: </div>
                                                    <div class="comment-content">{{comment.content}}</div>
                                                    <div class="pull-right comm-time">{{comment.create_time}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" v-if="viewData.staff">
            <h5>ㄧ般員工</h5>
            <div class="col s12">
                <div class="card rv-card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>員工編號</th>
                                <th>職位</th>
                                <th>員工姓名</th>
                                <th>工作品質</th>
                                <th>工作績效</th>
                                <th>責任感</th>
                                <th>配合度</th>
                                <th>出席率</th>
                                <th>特殊貢獻</th>
                                <th>重大缺失</th>
                                <th>總分</th>
                                <th>到職日</th>
                                <th>獎金發放</th>
                                <th>備註</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(staff,index) in viewData.staff">
                                <td>{{staff.staff_no}}</td>
                                <td>{{staff.post}}</td>
                                <td>{{staff.name}} {{staff.name_en}}</td>
                                <td>{{staff.quality}}</td>
                                <td>{{staff.completeness}}</td>
                                <td>{{staff.responsibility}}</td>
                                <td>{{staff.cooperation}}</td>
                                <td>{{staff.attendance}}</td>
                                <td>{{staff.addedValue}}</td>
                                <td>{{staff.mistake}}</td>
                                <td>{{staff._total_score}}</td>
                                <td>{{staff.first_day}}</td>
                                <td>
                                    <p v-if="staff.bonus">是</p>
                                    <p v-else>否</p>
                                </td>
                                <td>
                                    <a class="btn waves-effect waves-teal lighten-1" :href="'#CommentStaffModal-'+(index+1)" v-on:click="comment(staff.id)">{{staff._comment_count}}筆</a>
                                    <div :id="'CommentStaffModal-'+(index+1)" class="modal commCard">
                                        <div class="modal-content">
                                            <div class="rv-page-title">
                                                <h1 class="rv-title">評論紀錄</h1>
                                            </div>
                                            <div class="row">
                                                <div class="card-panel" v-for="comment in comments">
                                                    <div class="comm-name">{{comment._created_staff_name}} 評語: </div>
                                                    <div class="comment-content">{{comment.content}}</div>
                                                    <div class="pull-right comm-time">{{comment.create_time}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var $overView = $('#Overview').generalController(function() {
    var ts = this
    var currentYear = new Date().getFullYear()
    var currentMonth = new Date().getMonth() + 1
    ts.q("#getYear").val(currentYear)
    ts.q("#getMonth").val(currentMonth)

    var vm = new Vue({
        el: '.rv-overview',
        data: {
            viewData: {},
            year: ts.q("#getYear").find("option:selected").val(),
            month: ts.q("#getMonth").find("option:selected").val(),
            passReports: ts.q("#getPassReports").find("option:selected").val(),
            comments: []
        },
        created: function() {
            this.onSelected()
        },
        methods: {
            onSelected: function() {
                var data = {
                    year: this.year,
                    month: this.month,
                    release: this.passReports
                }
                var vuethis = this;
                API.getMonthlyReportWhenRelease(data).then(function(e) {
                    var result = API.format(e);
                    if (result.is) {
                        var list = result.get()
                        vuethis.viewData = list
                        console.log(list);
                        vuethis.timeout && clearTimeout(vuethis.timeout);
                        vuethis.timeout = setTimeout(function() {
                            ts.q(vuethis.$el).q(".modal").modal();
                            // console.log(ts.q(vuethis.$el).html());
                        }, 1);
                    }
                })
            },
            comment: function(id) {
                this.comments = [];
                var commentData = {
                    staff_id: id,
                    year: this.year,
                    month: this.month
                }
                console.log(commentData)
                var vuethis = this;
                API.getComment(commentData).then(function(e) {
                    var result = API.format(e);
                    if (result.is) {
                        var comment = result.res()
                        vuethis.comments = comment
                        console.log(comment)

                    }
                })

            },
            downloadExcel: function() {
                var data = {
                    year: this.year,
                    month: this.month
                }
                if(ts.q("#getPassReports").find("option:selected").val()==1){
                  data['release'] = 1;
                }
                API.downloadMonthlyReportWhenRelease(data)
                Materialize.toast('月份績效開始下載中...', 2000)
            }
        }
    })
})
</script>
