<!-- Dropdown Structure -->
<div id="Review">
    <div class="had-container rv-review">
        <h1 class="rv-title">本月份 部屬工作評語</h1>
        <div class="filter-date row">
            <h3 class="title">請選擇日期</h3>
            <div class="dropdown">
                <select id="getYear" class="btn dropdown-button" type="button" v-model="year" v-on:change="selected()">
                    <option value="2017">2017年</option>
                </select>
            </div>
            <div class="dropdown">
                <select id="getMonth" class="btn dropdown-button" type="button" v-model="month" v-on:change="selected()">
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
        </div>
        <div class="container">
            <!-- 工作評與語區塊 -->
            <div class="section">
                <div class="row search-area">
                    <div class="col s6">
                        <div class="search-input-article input-field">
                            <input placeholder="輸入要查看的人員姓名" type="text" class="form-control autocomplete" id="autocomplete-input">
                        </div>
                    </div>
                </div>
                <div class="row comment-area">
                    <div class="col s6">
                        <div class="comment-card-area card">
                            <div class="card-content">
                                <div class="grey-text text-darken-4 card-title">
                                    <span class="tw">{{currentStaff.name}} {{currentStaff.name_en}}</span>
                                </div>
                                <div class="comment-content-area">
                                    <ul class="comment-content-list">
                                        <li class="comment-item" v-if="!commentRecord.length == 0">
                                            <div :id="'record-'+(index+1)" v-for="(record,index) in commentRecord">
                                                <div class="rv-item">
                                                    <div class="rv-img">{{record.name_head}}</div>
                                                    <div class="comment_user">
                                                        <span class="tw">{{record._created_staff_name}}</span>
                                                        <span class="en">{{record._created_staff_name_en}}</span>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p class="content">{{record.content}}</p>
                                                        <span class="new badge grey lighten-1">{{record.create_time}}</span>
                                                    </div>
                                                    <div class="commen-tool">
                                                        <a v-on:click="editOpen(index)"><i class="material-icons pull-right teal-text">mode_edit</i></a>
                                                        <a v-on:click="deleteComment(record.id,index,record)"><i class="material-icons pull-right black-text">close</i></a>
                                                    </div>
                                                </div>
                                                <div class="edit edit-input">
                                                    <input type="text" class="form-control">
                                                    <button type="submit" class="waves-effect waves-light btn blue accent-2" v-on:click="editComment(index,record.id)">編輯</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="comment-item" v-else>
                                            <div class="rv-item">
                                                <div class="rv-img">無</div>
                                                <div class="comment_user">
                                                    <span>無評論</span>
                                                </div>
                                                <div class="comment-content">
                                                    請於下方的欄位輸入評語..
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <textarea id="CommentText" placeholder="請輸入對當前員工的評論.."></textarea>
                                <button type="submit" class="waves-effect waves-light btn" v-on:click="addComment()">新增評語</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?=U('/Public/js/Index/review.js')?>"></script>
