<!-- Dropdown Structure -->
<div id="Review">
    <div class="had-container rv-review">
        <h1 class="rv-title">本月份 部屬工作評語</h1>
        <div class="filter-date row">
            <h3 class="title">請選擇日期</h3>
            <div class="dropdown">
                <select id="getYear" class="btn dropdown-button" type="button" v-model="year">
                    <option value="2017">2017年</option>
                    <option value="2016">2016年</option>
                </select>
            </div>
            <div class="dropdown">
                <select id="getMonth" class="btn dropdown-button" type="button" v-model="month">
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
        </div>
        <div class="container comment-block">
            <!-- <div class="divider"></div> -->
            <!-- 工作評與語區塊 -->
            <div class="section">
                <div class="row search-area">
                    <div class="col s6">
                        <div class="search-input-article input-field">
                            <input placeholder="輸入要查看的人員姓名" type="text" class="form-control autocomplete" id="autocomplete-input">
                        </div>
                    </div>
                </div>
                <div class="row comment-area">
                    <div class="col s6">
                        <div class="comment-card-area card">
                            <div class="card-content">
                                <div class="grey-text text-darken-4 card-title">
                                    <span class="tw">{{currentStaff.name}} {{currentStaff.name_en}}</span>
                                </div>
                                <div class="comment-content-area">
                                    <ul class="comment-content-list">
                                        <li :id="'record-'+(index+1)" class="grey lighten-5 comment-item" v-for="(record,index) in commentRecord">
                                            <div class="rv-item">
                                                <div class="rv-img">{{record.name_head}}</div>
                                                <div class="comment_user">
                                                    <span class="tw">{{record._created_staff_name}}</span>
                                                    <span class="en">{{record._created_staff_name_en}}</span>
                                                </div>
                                                <div class="comment-content">
                                                    {{record.content}} <span class="new badge grey lighten-1">{{record.create_time}}</span>
                                                </div>
                                                <div class="commen-tool">
                                                    <a v-on:click="editOpen(index,record.content)"><i class="material-icons pull-right teal-text">mode_edit</i></a>
                                                    <a v-on:click="deleteComment(record.id,index)"><i class="material-icons pull-right black-text">close</i></a>
                                                </div>
                                            </div>
                                            <div class="edit edit-input">
                                                <input type="text" class="form-control">
                                                <button type="submit" class="waves-effect waves-light btn blue accent-2" v-on:click="editComment(index,record.id)">編輯</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <textarea id="CommentText" placeholder="請輸入對當前員工的評論"></textarea>
                                <button type="submit" class="waves-effect waves-light btn" v-on:click="addComment()">送出</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var $Review = $('#Review').generalController(function() {
    var ts = this
    var currentMonth = new Date().getMonth() + 1
    ts.q("#getMonth").val(currentMonth);
    ts.onLogin(function(member) {

        API.getUnderStaff().then(function(e) {
            var result = API.format(e);
            if (result.is) {
                var list = ts.staff_list = result.res();
                // ts.staff_map = result.map();
                ts.staff_account_map = {}

                console.log(list)

                var staffArray = [];
                var staffObj = {}
                for (var i in list) {
                    var loc = list[i].account + ' ' + list[i].name;
                    staffArray.push(loc);
                    ts.staff_account_map[loc] = list[i];
                }
                // console.log(staffArray)
                for (var staff in staffArray) {
                    var key = staffArray[staff]
                    staffObj[key] = null
                }

                var vm = new Vue({
                    el: '#Review .rv-review',
                    data: {
                        inputData: ts.q('#autocomplete-input').val(),
                        year: ts.q("#getYear").find("option:selected").val(),
                        month: ts.q("#getMonth").find("option:selected").val(),
                        staffObj: staffObj,
                        currentStaff: {},
                        commentRecord: []
                    },
                    methods: {
                        addComment: function() {
                            var txt = ts.q("#CommentText").val()
                            var target = {
                                staff_id: this.currentStaff.id,
                                year: this.year,
                                month: this.month,
                                content: txt
                            }
                            if (txt != "") {
                                var vss = this;
                                API.addComment(target).then(function(e) {
                                    if (!API.format(e).is) {
                                        return alert('無法輸入');
                                    }
                                    Materialize.toast('已新增一筆評論', 2000);
                                    vss.getComment(target);
                                    ts.q("#CommentText").val('')
                                })
                            } else {
                                alert('您尚未輸入任何評論');
                            }
                        },
                        editOpen: function(index, txt) {
                            var list = ts.q("#record-" + (index + 1))
                            list.find(".edit-input").show()
                            list.find("input").val(txt)
                        },
                        editComment: function(index, id) {
                            var list = ts.q("#record-" + (index + 1))
                            var content = ts.q("#record-" + (index + 1)).find("input").val()
                            var editParam = {
                                comment_id: id,
                                do: "upd",
                                content: content
                            }
                            API.updateComment(editParam).then(function(e) {
                                var success = API.format(e);
                                if (!success.is) {
                                    list.find(".edit-input").hide()
                                    return alert('無法編輯');
                                } else {
                                    Materialize.toast('已更新一筆評論', 2000)
                                    list.find(".edit-input").hide()
                                    list.find(".comment-content").text(editParam.content)
                                }
                            })
                        },
                        deleteComment: function(id, index) {
                            var deleteParam = {
                                comment_id: id,
                                do: "del"
                            }
                            API.updateComment(deleteParam).then(function(e) {
                                Materialize.toast('已刪除一筆評論', 2000)
                                ts.q("#record-" + (index + 1)).remove()
                            })
                        },
                        getComment: function(staff) {
                            var vss = this;
                            API.getComment(staff).then(function(e) {
                                var result = API.format(e);
                                var comment = result.res();

                                for (var loc in comment) {
                                    comment[loc]["name_head"] = comment[loc]._created_staff_name.charAt(0);
                                }
                                vss.commentRecord = comment;
                                // console.log(comment);
                            })
                        }
                    },
                    mounted: function() {
                        var vss = this;
                        ts.q('input.autocomplete').autocomplete({
                            data: vss.staffObj,
                            onAutocomplete: function(value) {
                                var targetStaff = ts.staff_account_map[value];
                                vss.currentStaff = targetStaff
                                    // console.log(targetStaff);
                                    // console.log(targetStaff.id);

                                var staff = {
                                    staff_id: targetStaff.id,
                                    year: vss.year,
                                    month: vss.month
                                }
                                vss.getComment(staff);
                                ts.q(".comment-area").css("opacity", "1")
                                ts.q(".comment-area").css("top", "0px")
                                ts.q(".search-area").css("top", "0px")
                                ts.q('#autocomplete-input').val('')
                            }
                        })
                    }
                })
            }
        });
    });
});
</script>
