$setting-border-bg: #d8d8d8;
$setting-title-color: rgba(0, 0, 0, 0.88);
.evaluation-setting {
    .year-select {
        h3 {
            float: none;
            width: 100%;
        }
        .dropdown {
            float: none;
        }
    }
    .month-setting {
        border: 1px solid $setting-border-bg;
        padding: 5px 10px;
        min-width: 460px;
        .eva-start {
            .eva-end-date {
                display: inline-block;
                float: left;
                line-height: 0.2em;
                color:#f57c00;
                font-weight: bold;
                display: none;
                transition: all 0.5s;
            }
            .switch {
                label {
                    float: left;
                }
            }
        }

    .title {
        font-size: 16px;
        font-weight: bold;
        height: 45px;
        line-height: 45px;
        color: $setting-title-color;
        border-bottom: 1px dashed #CCC;
        margin-bottom: 10px;
        span {
            color: #f57c00;
        }
    }
    .title-second {
        font-size: 14px;
    }
    .form-group {
        .control-label {
            font-size: 14px;
        }
        .date {
            width: 50px;
        }
        .tip-word {
            padding: 0;
            p {
                font-size: 12px;
                color: #999;
                margin: 0 0 5px 0px;
            }
        }
        .process-date {
            input {
                width: 50px;
            }
            span {
                float: left;
                width: 100px;
                vertical-align: middle;
                i {
                    float: left;
                    font-style: normal;
                    height: 34px;
                    line-height: 34px;
                    margin-right: 5px;
                    color: #f57c00;
                }
                &::before {
                    content: '';
                    height: 100%;
                    width: 1px;
                    vertical-align: middle;
                }
                &.icon {
                    width: 40px;
                }
                .material-icons {
                    text-align: center;
                    margin: 0 auto;
                    vertical-align: middle;
                }
            }
        }
    }
    .setting-date {
        h2 {
            font-size: 14px;
            font-weight: bold;
        }
        h3 {
            font-size: 12px;
        }
        .date-block {}
    }
}

.month-select {
    .title {
        display: inline-block;
        width: 100%;
    }
    .month-list {
        div {
            width: 70px;
            display: inline-block;
        }
    }
}


}
